.bot p{
    color: #8a8a8a;;

}
.bot{
    padding-top: 10px;
   padding-bottom:30px;
}

.hover_scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    background: -webkit-linear-gradient(#6fe212, #0c28f8);
    padding: 2px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}